/* General Style */

section{
    margin-top: 3rem!important;
    margin-bottom: 3rem!important;
}

a:hover{
    text-decoration: none;
}

/* ---------------------------------- */

/* header */

.header_menu{
    position: absolute;
    top: 0;
    width: 100%;
}

.nav_menu{
    height: 100vh;
    z-index: 100;
    top: 0;
    transition: all .2s linear;
    position: fixed;
    width: 100%;
    left: -100%;
}

.nav_menu a{
    color: #DB9D27;
}

.nav_menu a:hover{
    color: #B26114;
}

#checkbox_menu:checked ~* nav#nav_menu{
    transform: translateX(100%);
}

label[for="checkbox_menu"]{
    z-index: 101;
    cursor: pointer;
}

.bar_menu_absolute{
    position: absolute;
    left: 10px;
    top: 0;
    transition: all .7s ease;
}

.bar_menu_fixed{
    border-radius: 0 20px 20px 0;
    position: fixed;
    left: -1px;
    padding: 1rem;
    background-color: #000000;
    border-color: #DB9D27;
    transition: all .7s ease;
    top: 10px;
}

.bar_menu_fixed span{
    display: none;
    transition: all .7s ease;
}

.soon{
    cursor: pointer;
    transition: all .2s linear;
}

.soon > img{
    right: 10px;
    transition: all .2s linear;
    /*left: calc(100% - 10px);*/
}

.soon_all:hover{
    transform: translateY(15px);
}

.soon_tape{
    top: -15px;
    height: 215px;
    width: 200px;
}

.whatsapp{
    color: #25D366;
}

.filter_immovable{
    width: 90%;
}

.filter_immovable input{
    border-color: #B26114;
    border-radius: 0;
    background-clip: initial;
    font-weight: bold;
}

.filter_immovable select{
    border-color: #B26114;
    border-radius: 0;
    background-clip: initial;
    font-weight: bold;
}

.filter_immovable ::-webkit-input-placeholder { 
    color: black;
}
  
.filter_immovable :-ms-input-placeholder { 
    color: black;
}
  
.filter_immovable ::placeholder {
    color: black;
}

@media (min-width: 576px) { 
}

@media (min-width: 768px) { 
    .nav_menu{
        width: 300px !important;
        left: -300px !important;
    }
    
    .filter_immovable{
        width: 578px;
    }

    .soon > img{
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (min-width: 992px) { 
    .filter_immovable{
        width: 792px;
    }
}

@media (min-width: 1200px) { 
    .filter_immovable{
        width: 1000px;
    }
}

@media (min-width: 1400px) { 
    .filter_immovable{
        width: 1200px;
    }
}

/* header front page*/

.header_front_page  .filter_immovable input{
    border-color: black;
}

.header_front_page .filter_immovable select{
    border-color: black;
}

.header_front_page .filter_immovable ::-webkit-input-placeholder { 
    color: #DB9D27;
}
  
.header_front_page .filter_immovable :-ms-input-placeholder { 
    color: #DB9D27;
}
  
.header_front_page .filter_immovable ::placeholder {
    color: #DB9D27;
}

.header_front_page .header_content{
    background-image: url(../_images/banner.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.header_front_page .filter_immovable{
    position: absolute;
    bottom: 100px;
    transform: translateX(-50%);
    left: 50%;
    background: linear-gradient(180deg, rgba(142, 89, 39, 0) 0%, #8E5927 100%);
    padding: 20px;
}

/* header pages*/

.header_page{
    height: 170px;
}

.header_page .header_menu{
    background-color: #000000;
    border-bottom: solid;
    border-bottom-width: .2rem;
    border-bottom-color: #DB9D27;
    height: 75px;
}

.header_page img{
    position: absolute;
}

/* ---------------------------------- */

/* Social Networks */

.social_networks>a>div{
    position: fixed;
    right: 0;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
}

.link_social{
    border-radius: 10px 0 0 10px;
    padding: .5rem;
    transition: all .3s ease;
}

.link_social_network{
    background-color: #DB9D27;
    color: black;
}

.link_whatsapp{
    background-color: #25D366;
    color: white;
    top: calc(50% - 60px);
}

.link_whatsapp:hover{
    width: 160px;
}

.link_facebook{
    top: 50%;
}

.link_facebook:hover{
    width: 160px;
}

.link_phone{
    top: calc(50% + 60px);
}

.link_phone:hover{
    width: 160px;
}

/* ---------------------------------- */

/* main */

.card_immovable{
    height: 420px;
    box-shadow: 5px 5px 5px gray   ;
}

.card_immovable img{
    object-fit: cover;
    object-position: top;
    width: 100%;
}

.card_immovable img:hover{
    transition: all .5s linear;
    object-position: bottom;
}

.card_immovable_content{
    height: 120px;
}

.card_immovable_reference{
    padding: 5px 20px;
    transform: translateX(15px);
    border-radius: 8px 0 0 8px;
}

.range_price {
    transform: translateX(-3.56rem);
    width: calc(100% + 3.5rem);
    border-radius: 0 10px 0 0;
}

.whatsapp_immovable_single{
    background-color: #25D366;
    line-height: 1.5rem;
}

.form_immovable_single{
    height: calc(100% - 3rem);
    border-radius: 0 0 10px 10px;
}

/* ---------------------------------- */

/* Footer */

footer a{
    color: aqua;
}

footer a:hover{
    color: aquamarine;
}

/* ---------------------------------- */

/*  */

/* ---------------------------------- */

/* Bootstrap Custom */

.bg-primary{
    background-color: #DB9D27!important;
}

.bg-secondary{   
    background-color: #000000 !important;
}

.bg-ternary{
    background-color: #B26114!important;
}

.text-primary{
    color: #DB9D27 !important;
}

.text-secondary{   
    color: #000000 !important;
}

.text-ternary{
    color: #B26114!important;
}

.text-small{
    font-size: .7rem;
}

.btn-primary{
    background-color: #DB9D27!important;
    color: black !important;
    border-color: #DB9D27!important;
}

.btn-primary:hover{
    background-color: #B26114!important;
    color: white !important;
    border-color: #B26114!important;
}

.btn-secondary{   
    background-color: #000000 !important;
    color: #DB9D27 !important;
    border-color: #000000 !important;
}

.btn-secondary:hover{   
    background-color: #000000 !important;
    color: white !important;
    border-color: #000000 !important;
}

.btn-ternary{
    background-color: #B26114!important;
    color: black !important;
    border-color: #B26114!important;
}

.btn-ternary:hover{
    background-color: #DB9D27!important;
    color: white !important;
    border-color: #DB9D27!important;
}

.box-primary{
    background-color: black;
    border-color: #DB9D27;
    border-width: .2rem;
    border-style: solid;
    padding: 1.5rem;
}

.border-primary{
    border-color: #DB9D27 !important;
}

.border-secondary{
    border-color: #000000 !important;
}

.border-ternary{
    border-color: #B26114 !important;
}

.h-300px{
    height: 300px;
}

.h-80{
    height: 80%;
}

.h-20{
    height: 20%;
}

.top{
    top: 10px;
}

.right{
    right: 10px;
}

.bottom{
    bottom: 10px;
}

.left{
    left: 10px;
}

.top-0{
    top: 0;
}

.right-0{
    right: 0;
}

.bottom-0{
    bottom: 0;
}

.left-0{
    left: 0;
}

.top-50{
    top: 50%;
}

.right-50{
    right: 50%;
}


.bottom-50{
    bottom: 50%;
}

.left-50{
    left: 50%;
}

.top-50, .bottom-50, 
.top-sm-50, .bottom-sm-50,
.top-md-50, .bottom-md-50,
.top-lg-50, .bottom-lg-50, 
.top-xl-50, .bottom-xl-50{
    transform: translateY(-50%);
}

.right-50, .left-50,
.right-sm-50, .left-sm-50,
.right-md-50, .left-md-50,
.right-lg-50, .left-lg-50, 
.right-xl-50, .left-xl-50{
    transform: translateX(-50%);
}  

.img-cover{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.img-cover-top{
    object-position: top;
}

.img-cover-bottom{
    object-position: bottom;
}

.img-cover-center{
    object-position: center;
}

.img-cover-bottom{
    object-position: right;
}

.img-cover-bottom{
    object-position: left;
}

.shadow-primary{
    box-shadow: 5px .5rem 1rem #DB9D27;
}

.shadow-secondary{
    box-shadow: 5px .5rem 1rem #000000;
}

.shadow-ternary{
    box-shadow: 5px .5rem 1rem #8E5927;
}

.z-1{
    z-index: 1;
}

.z-2{
    z-index: 2;
}

.z-3{
    z-index: 3;
}

.z-4{
    z-index: 4;
}

.z-5{
    z-index: 99;
}

@media (min-width: 576px) { 
    .top-xs-0{
        top: 0;
    }
    
    .right-xs-0{
        right: 0;
    }
    
    .bottom-xs-0{
        bottom: 0;
    }
    
    .left-xs-0{
        left: 0;
    } 

    .top-xs-50{
        top: 50%;
    }
    
    .right-xs-50{
        right: 50%;
    }
    
    .bottom-xs-50{
        bottom: 50%;
    }
    
    .left-xs-50{
        left: 50%;
    } 

    .position-xs-absolute{
        position: absolute;
    }
}

@media (min-width: 768px) { 
    .top-sm-0{
        top: 0;
    }
    
    .right-sm-0{
        right: 0;
    }
    
    .bottom-sm-0{
        bottom: 0;
    }
    
    .left-sm-0{
        left: 0;
    } 

    .top-sm-50{
        top: 50%;
    }
    
    .right-sm-50{
        right: 50%;
    }
    
    .bottom-sm-50{
        bottom: 50%;
    }
    
    .left-sm-50{
        left: 50%;
    } 

    .position-sm-absolute{
        position: absolute;
    }
}

@media (min-width: 992px) { 
   
    .top-md-0{
        top: 0;
    }
    
    .right-md-0{
        right: 0;
    }
    
    .bottom-md-0{
        bottom: 0;
    }
    
    .left-md-0{
        left: 0;
    } 

    .top-md-50{
        top: 50%;
    }
    
    .right-md-50{
        right: 50%;
    }
    
    .bottom-md-50{
        bottom: 50%;
    }
    
    .left-md-50{
        left: 50%;
    }

    .position-md-absolute{
        position: absolute;
    }
}

@media (min-width: 1200px) { 
    .top-lg-0{
        top: 0;
    }
    
    .right-lg-0{
        right: 0;
    }
    
    .bottom-lg-0{
        bottom: 0;
    }
    
    .left-lg-0{
        left: 0;
    } 
    .top-lg-50{
        top: 50%;
    }
    
    .right-lg-50{
        right: 50%;
    }
    
    .bottom-lg-50{
        bottom: 50%;
    }
    
    .left-lg-50{
        left: 50%;
    }

    .position-lg-absolute{
        position: absolute;
    }
}

@media (min-width: 1400px) { 
    
    .top-xl-0{
        top: 0;
    }
    
    .right-xl-0{
        right: 0;
    }
    
    .bottom-xl-0{
        bottom: 0;
    }
    
    .left-xl-0{
        left: 0;
    } 

    .top-xl-50{
        top: 50%;
    }
    
    .right-xl-50{
        right: 50%;
    }
    
    .bottom-xl-50{
        bottom: 50%;
    }
    
    .left-xl-50{
        left: 50%;
    }
     
    .position-xl-absolute{
        position: absolute;
    }
}   